.login-modal-ui {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  @media screen  and (max-width: 400px) {
    background-color: #ffffff;
  }  

  form {
    padding: 30px;
    background: #ffffff;
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
  
    @media screen  and (max-width: 400px) {
      left: 0;
    }  
  }

  .close {
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    @media screen  and (max-width: 400px) {
      position: fixed;
    }  
  }

  .mdhead {
    margin-top:0;
    margin-bottom: 20px; 
    font-size: 24px;
    text-align: center;
    color: #117CA6;
  }

  .mdbody {
    margin-bottom: 20px;
    .mdrow {
      margin-bottom: 20px;
      input {
        width: 100%;
        padding: 5px 10px;
        min-height: 40px;
        box-sizing: border-box;
        border-radius: 0;
        border: 1px solid #cccccc;
      }
    }
  }

  .mdactions {
    text-align: center;
    .btnui {
      font-size: 14px;
      padding: 12px 20px;
      color: #fff;
      background-color: #117CA6;
      border: unset;
      cursor: pointer;
      text-transform: uppercase;
      margin-left: 5px;
    }
  }
  
  .alertsent,
  .alertdanger {
    color: #ff0000;
    background-color: #ffd1d1;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
  }

  .alertsent {
    color: hsl(110, 92%, 25%);
    background-color: hsl(109, 41%, 90%);
  }

}