.navui1 {
  background-color: #ffffff;
  ul {
    padding:0;
    margin: 0;
    display:flex;
    justify-content: center;
    li {
      list-style: none;
      a {
        text-decoration: none;
        padding: 10px 15px;
        display: inline-block;
        background-color: #eee4e4;
        color: #000000;
        &:hover {
          background-color: #117CA6;
          color: #ffffff;
        }
      }
    }
  }
}

.pagewr {
  padding: 20px 15px;
  text-align: center;
}

.react-datepicker-wrapper {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  .input-ui {
    padding: 10px; 
    border: 1px solid #000000;
    font-size: 14px;
    border-radius: 0;
    width: 100px;
  }
}

