body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
}

.btnui {
  font-size: 14px;
  padding: 12px 20px;
  color: #fff;
  background-color: #007bff;
  border: unset;
  cursor: pointer;
  margin-left: 5px;
  &:hover {
    background-color: #056cda;
  }
  &.btnui2 {
    background-color: #d32f2f;
    color: #fff;
    &:hover {
      background-color: #ec1010;
    }
  }
}

.margin-top-50 {
  margin-top: 50px;
}